// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

//default button style
.default-btn {
    @extend %p-rel,
    %d-inline-block,
    %of-hidden,
    %text-center;
    @include font-size(14px);
    text-decoration: none;
    font-family: $title-font;
    color: $white-color;
    padding: 0.7rem 1.5rem;
    transition: $transition;
    background: $theme-color;
    font-weight: 600;
    @extend %border-radius-8;
    border: 2px solid transparent;


    @include breakpoint(xl) {
        padding: 0.8rem 2.25rem;
    }

    span {
        position: inherit;
        z-index: 1;

        svg,
        img {
            @extend %mr-5;
        }
    }

    &--small {
        line-height: 46px;
        padding: 0 1.25rem;
    }




    &:hover {
        color: $white-color;
        transform: translateY(-3px);
        background-color: darken($theme-color, $amount: 5);
    }

    &-active {
        background-color: $theme-color;
        border-color: $theme-color;
    }

    &--secondary {
        background-color: $secondary-color;
        color: $title-color;
        border-color: $secondary-color;

        &:hover {
            background-color: $secondary-color;
            color: $title-color;
        }
    }

}

.view-btn {
    background-color: $bg-color1;
    color: $black-color;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 600;

    &:hover {
        background-color: $bg-color1;
        color: $black-color;
    }
}


.select-btn {
    font-family: $title-font;
    transition: $transition;
    // border: 1px solid $white-color;
    font-weight: 500;
    @extend %border-radius-8;
    padding-block: 1rem;


    &:focus {
        border-color: $white-color;
        outline: 0;
        box-shadow: none;
    }
}

.choose-btn {
    font-family: $title-font;
    background-color: $bg-color1;
    color: $black-color;
    border: 1px solid $bg-color1;
    font-weight: 500;
    @extend %border-radius-8, %align-items-center;
    padding: 0.75rem;
    display: inline-flex;


    &:focus {
        border-color: $bg-color1;
        outline: 0;
        box-shadow: none;
    }
}




.traveler-btn {
    padding: 8px 4px 11px 4px;
    border: 1.5px solid $optional-color3;
    color: $optional-color3;
    font-size: 22px;
    font-weight: 500;
    line-height: 1px;
    border-radius: 50%;
    background: transparent;

    &.plus {
        border: 1.5px solid $optional-color2;
        color: $optional-color2;
    }
}