.testimonial {
    &__item {
        &-inner {
            background-color: $bg-color;
            border-radius: 15px;

            @include breakpoint(md) {
                display: flex;
            }

            @include breakpoint(lg) {
                display: flex;
            }
        }

        &-thumb {
            background-color: #E6E6E4;
            border-radius: 15px 15px 0px 0px;

            @include breakpoint(md) {
                border-radius: 15px 0px 0px 15px;

            }
            @include breakpoint(lg) {
                border-radius: 15px 0px 0px 15px;

            }
        }

        &-content {
            
            padding: 20px 15px;

            h5{
                @extend %mt-30;
            }


            @include breakpoint(md) {
                padding: 20px 60px;
                width: 100%;
            }

            @include breakpoint(lg) {
                width: 60%;
                padding: 100px 40px 50px 90px;

                p {
                    font-size: 24px;
                    font-weight: 500;
                    color: $title-color;
                    margin-bottom: 3rem;
                }
            }


        }
    }

}