.badge {
    background-color: $primary-color;
    padding: 0.75em 1em;
    border-radius: 99px;
}



// Section header start here
.section-header {
    margin-bottom: 30px;

    @include breakpoint(lg) {
        margin-bottom: 40px;
    }

}



// lg none
.lg-none {
    @include breakpoint(lg) {
        display: none;
    }

    @include breakpoint(xl) {
        display: none;
    }

    @include breakpoint(xxl) {
        display: none;
    }
}


// custom
ul.dropdown-menu.custom-style.show{
    margin-left: -60px !important;
}


// step list
.step-list{
    @extend %mx-30;
    li{
        list-style: disc;
    }
}

// default input field style (overrides some bootstrap css)
.form-control {
    background-color: transparent;
    border-color: rgba($theme-color, $alpha: 0.20);
    padding: .7rem 1.5rem;

    @include breakpoint(xl) {
        padding: 0.8rem 1.25rem;
    }

    &:focus {
        box-shadow: none;
        border-color: $theme-color;
    }
}

.form-check {
    &-input {
        &:focus {
            box-shadow: none;
        }

        &:checked {
            background-color: $theme-color;
            border-color: $theme-color;
        }
    }

    &-label {
        color: $text-color !important
    }
}

// scrollTop
.scrollToTop {
    @include add-prefix(transition, $transition);
    position: fixed;
    // bottom: -20%;
    bottom: 5%;
    right: 5%;
    z-index: 9;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: $secondary-color;
    text-align: center;
    border-radius: 5px;
    color: $body-color;

    &:hover {
        @include add-prefix (transform, translateY(-5px));
        color: $body-color;
    }


}