.banner {
    @extend %of-hidden,
    %p-rel;
    background-color: $banner-color;
    padding-block: 120px;

    @include breakpoint(sm) {
        padding-block: 150px;
    }

    @include breakpoint(lg) {
        padding-block: 180px;
    }

    @include breakpoint(xxl) {
        padding-block: 320px;
    }

    &__content {

        h1 {
            color: $theme-color;
            line-height: 1.4;
            @extend %text-center;

            @include breakpoint(lg) {
                text-align: left;
                max-inline-size: 22ch;
            }

        }
    }

    &__thumb {
        @extend %text-center;

        @include breakpoint(lg) {
            text-align: right;
        }

    }
}